/.github
/.husky
/dist
/coverage
/node_modules
/src
/tests
.prettierignore
.prettierrc.json
CHANGELOG.md
CODE_OF_CONDUCT.md
commitlint.config.js
eslint.config.js
renovate.json
tsconfig.json
vitest.config.ts